@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
    .badge {
        @apply py-1 px-3 rounded-full text-xs
    }

    .btn {
        @apply text-sm py-1 px-2 rounded-md text-white shadow cursor-pointer bg-red-500 dark:bg-blue-500
    }

    .input-label {
        @apply block uppercase tracking-wide text-gray-700 dark:text-gray-200 text-xs font-bold
    }

    .input {
        @apply appearance-none block w-full bg-gray-200 dark:bg-gray-900 text-gray-700 dark:text-gray-100 border border-gray-200 dark:border-black rounded py-2 px-3 leading-tight focus:ring-0 focus:outline-none focus:bg-white focus:border-blue-500 dark:focus:border-red-500
    }

    .has-error {
        @apply border border-red-500 dark:border-red-500 ring-0 outline-none
    }
}
